{% extends 'base.html.twig' %}
{% block body %}
    <div class="grid-x">
        <div class="small-12 cell">
            <h1>My cool tasks:</h1>
        </div>
    </div>
    <div class="grid-x">
        <div class="small-12 cell">
            <table>
                <thead>
                    <tr>
                        <td>
                            ID
                        </td>
                        <td>
                            Title
                        </td>
                        <td>
                            Action
                        </td>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}
